aside {
  width: 100%;
  height: 100%;
  border-radius: 0 50px 0 0;
  position: sticky;
  top: 84.31px;
}
li .my-nav-item {
  display: block;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-block: 1px;
  position: relative;
}

li .my-nav-item i {
  font-size: 1.5rem;
  color: #b4b4b4;
}
li .my-nav-item.logout i {
  color: red;
}
li .my-nav-item:hover i {
  color: var(--main-color-blue);
}
li .my-nav-item.active::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color-blue);
}
