<aside class="bg-white py-5">
  <nav>
    <ul class="list-unstyled">
      <li class="w-100">
        <a class="my-nav-item" routerLink="products" routerLinkActive="active"
          ><i class="fa fa-box"></i
        ></a>
      </li>
      <li class="w-100">
        <a class="my-nav-item" routerLink="inbox" routerLinkActive="active"
          ><i class="fa-solid fa-comment-dots"></i
        ></a>
      </li>
      <li class="w-100">
        <a class="my-nav-item" routerLink="orders" routerLinkActive="active"
          ><i class="fa-solid fa-layer-group"></i
        ></a>
      </li>
      <li class="w-100">
        <a class="my-nav-item" routerLink="contacts" routerLinkActive="active"
          ><i class="fa-solid fa-users"></i
        ></a>
      </li>
      <li class="w-100 mt-3">
        <a class="my-nav-item logout"><i class="fa-solid fa-power-off"></i></a>
      </li>
    </ul>
  </nav>
</aside>
