<section>
  <div class="container">
    <h1 class="h3 mb-3">Contacts</h1>
    <div class="row g-2 row-gap-4">
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-danxavier-1212984.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-jeffreyreed-769745.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-justin-shaifer-501272-1222271.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-olly-733872.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-spencer-selover-142259-428333.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/images/users/pexels-danxavier-1212984.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 class="card-title h6 mb-0">Yehia aboulela</h5>
            <p class="card-text text-black-50 small mb-1">
              yehiaaboulela@gmail.com
            </p>
            <p class="card-text fake-btn text-black-50">01112438160</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
